{% include "header.html" %}


<div class="slider">
        <div class="banner">
         <img src="static/images/exclusive.banner1.webp" alt="b1">
         <img src="static/images/exclusive.banner2.webp" alt="b2">
         <img src="static/images/exclusive.banner3.webp" alt="b2">
         <img src="static/images/exclusive.banner4.webp" alt="b4">
        </div>
    </div>

    
   <div class="picks" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> <h2>SEASON'S TOP PICKS</h2> </div>

<div class="collec" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
  <div class="pack1"> <img src="static/images/Toppick1.webp" alt=".."> 
  <div class="d1">  <b>1,439</b> 
                    <p class="small">2,999</p> 
                  <h5 style="color: green;">(40% OFF)</h5>
                </div>
            <div class="des1">
                <p>Solid Stretch T-Shirt | Dark Blue And Loose Jeans | Blue </p>
           </div>
           <div class="bu1">
               <button>Add to Cart</button>
           </div>            
  </div>         
   <div class="pack2"> <img src="static/images/Toppick2.webp" alt=".."> 
         <div class="d2"><b>1,219</b> 
                        <p class="small">2,399</p> 
                        <h5 style="color: green;">(49% OFF)</h5>
         </div>
                   <div class="des2">
                          <p>Plane and Texture T-Shirt | White And Jeans | Blue </p>
                   </div>
                         <div class="bu2">
                             <button>Add to Cart</button>              
                          </div>  
  </div>
  <div class="pack3"> <img src="static/images/Toppick3.webp" alt=".."> 
    <div class="d3"><b>1,799</b> 
                   <p class="small">2,999</p> 
                   <h5 style="color: green;">(40% OFF)</h5>
    </div>
              <div class="des3">
                     <p>Textured T-Shirt | OffWhite And Cargo | Black </p>
              </div>
                    <div class="bu3">
                        <button>Add to Cart</button>              
                     </div>  
</div>

<div class="pack4"> <img src="static/images/Toppick4.webp" alt=".."> 
  <div class="d4"><b>1,799</b> 
                 <p class="small">2,999</p> 
                 <h5 style="color: green;">(40% OFF)</h5>
  </div>
            <div class="des4">
                   <p>Wrogn Logo T-Shirt | White And Jeans | Blue</p>
            </div>
                  <div class="bu4">
                      <button>Add to Cart</button>              
                   </div>  
</div>


<div class="pack5"> <img src="static/images/Toppick5.webp" alt=".."> 
  <div class="d5"><b>1,799</b> 
                 <p class="small">2,999</p> 
                 <h5 style="color: green;">(40% OFF)</h5>
  </div>
            <div class="des5">
                   <p>Traditional Printed Shirt | Purple And Pant | Cream </p>
            </div>
                  <div class="bu5">
                      <button>Add to Cart</button>              
                   </div>  
</div>
</div>


  <div class="trending" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"">
    <h2>TRENDING CATEGORIES</h2>
    <div class="section1">
      <a href="/polo/"><img  src="static/images/Polos.webp" alt="polo"></a>
      <a href="/shirts/"><img src="static/images/shirts.webp" alt="polo"></a>
    </div>

    <div class="section2">
     <a href="/t-shirt/"><img src="static/images/t-shirts.webp" alt="polo"></a>
      <a href="/denim/"><img src="static/images/Denim.webp" alt="polo"></a>
     <a href="/footwear/"><img src="static/images/Footwear.webp" alt="polo"></a>
    </div>
  </div>


  <!-- <div class="wearewrogn">
        <img src="weare1.webp" alt="weare1">
        <b><p class="weare">STAY WROGN STAY MAD  STAY WROGN STAY MAD</p></b>
        
  </div> -->


<div class="bundle" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"">
  <h2 class="wallpaper">WROGN WALLPAPERS</h2>
  <div class="papers">
       <img src="static/images/wally1.webp" alt="wally1">
       <img src="static/images/wally2.webp" alt="wally2">
       <img src="static/images/wally3.webp" alt="wally3">
  </div>
</div>

<div class="stores" Style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"">
  <div class="store1">
    <p class="t1">SEYVN STORES</p>
    <p class="t2">RIGHT PLACE</p>
    <p class="t3">Find how close you’re to going Seyvn!</p>
    <a href="/stores/"><button style="width: 100%;" style="border-radius: 0%;">See All Stores</button></a>
    
  </div>
  <img class="s1" src="static/images/storeimg1.webp" alt="store1">

</div>


<div class="main" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"">
  <div class="container">
   <div class="text">SEYVN SEYVN SEYVN SEYVN SEYVN SEYVN SEYVN SEYVN</div>
</div>
</div>
 
{% include "footer.html" %}