.sale{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    z-index: 1000;
}

.text{
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: scrollLeft 25s linear infinite;
    color: white;
    font-size: 10px;
}

@keyframes scrollLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* NAVBAR */
.nav{
    position: fixed;
    top: 40px;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
    font-weight: 600;
    z-index: 999;
}

.nav img{
    height: 50px;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav input{
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
}

.nav i{
    font-size: 18px;
    cursor: pointer;
}
