 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SÈYVN | by Rhytham</title>
    <link href="{% static 'css/exclusive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head> 

{% include "head.html" %}

     <div class="showcase">
        <div class="banner">
          <img src="{% static 'images/ban1.webp' %}" alt="b1">
          <img src="{% static 'images/ban2.webp' %}" alt="b2">
          <img src="{% static 'images/ban3.webp' %}" alt="b3">
          <img src="{% static 'images/exclusive.banner3.webp' %}" alt="b4">
        </div>
    </div> 

 <div class="banner-wrapper">   

    <!-- Image instead of video -->
    <img src="{% static 'images/banner_autumn.webp' %}" alt="Banner" width="100%" height="auto">

    <section class="slider-wrapper">

        <button class="nav-btn left" id="leftBtn">&#10094;</button>

        <div class="slider" id="slider">
          
            {% for p in products %}
            <div class="card">
               
                <img src="{% static p.img %}">
        
                <h4>{{ p.name }}</h4>
                <p>₹{{ p.price }}</p>
                <button class="track">Add to cart</button>
            </div>
            {% endfor %}
        </div>

        <button class="nav-btn right" id="rightBtn">&#10095;</button>

    </section>
</div>
    
<div class="main" >
  <div class="container">
   <div class="font">EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE EXCLUSIVE </div>
</div>
</div>

<video  style="margin-top: -20px;" width="100%" height="auto" autoplay muted loop> <source src="{% static 'images/Untitled1.mp4' %}" type="video/mp4"> Your browser does not support the video tag. </video>



<h2 style="text-align: center;">WROGN BAGS</h2>
<section class="uProductSliderWrapper">

  <button class="uProductNavBtn uProductNavLeft">&#10094;</button>

  <div class="uProductSliderViewport">
    <div class="uProductSliderRail">

      <!-- CARD 1 -->
      <div class="uProductCard">
        <img src="{% static 'images/bag1.webp' %}">
        <div class="uProductInfo">
          <h4>Casual Comfort Fit Shirt</h4>
          <p class="uProductPrice">
            ₹1,699 <span>₹2,299</span>
            <b>26% OFF</b>
          </p>
          <button class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

      <!-- CARD 2 -->
      <div class="uProductCard">
        <img src="{% static 'images/bagii.webp' %}">
        <div class="uProductInfo">
          <h4>Double Layered Check Shirt</h4>
          <p class="uProductPrice">
            ₹1,599 <span>₹2,599</span>
            <b>38% OFF</b>
          </p>
          <button class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

      <!-- CARD 3 -->
      <div class="uProductCard">
        <img src="{% static 'images/bag3.webp' %}">
        <div class="uProductInfo">
          <h4>Textured Utility Shirt</h4>
          <p class="uProductPrice">
            ₹1,449 <span>₹2,399</span>
            <b>39% OFF</b>
          </p>
          <button class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="uProductCard">
        <img src="{% static 'images/bag4.webp' %}">
        <div class="uProductInfo">
          <h4>Graphic Print Hoodie</h4>
          <p class="uProductPrice">
            ₹1,999 <span>₹2,599</span>
            <b>23% OFF</b>
          </p>
          <button class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="uProductCard">
        <img src="{% static 'images/bag5.webp' %}">
        <div class="uProductInfo">
          <h4>Graphic Print Hoodie</h4>
          <p class="uProductPrice">
            ₹1,999 <span>₹2,599</span>
            <b>23% OFF</b>
          </p>
          <button class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="uProductCard">
        <img src="{% static 'images/bag6.webp' %}">
        <div class="uProductInfo">
          <h4>Graphic Print Hoodie</h4>
          <p class="uProductPrice">
            ₹1,999 <span>₹2,599</span>
            <b>23% OFF</b>
          </p>
          <button class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="uProductCard">
        <img src="{% static 'images/bag7.webp' %}">
        <div class="uProductInfo">
          <h4>Graphic Print Hoodie</h4>
          <p class="uProductPrice">
            ₹1,999 <span>₹2,599</span>
            <b>23% OFF</b>
          </p>
          <button class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="uProductCard">
        <img src="{% static 'images/bag8.webp' %}">
        <div class="uProductInfo">
          <h4>Graphic Print Hoodie</h4>
          <p class="uProductPrice">
            ₹1,999 <span>₹2,599</span>
            <b>23% OFF</b>
          </p>
          <button class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="uProductCard">
        <img src="{% static 'images/bag9.webp' %}">
        <div class="uProductInfo">
          <h4>Graphic Print Hoodie</h4>
          <p class="uProductPrice">
            ₹1,999 <span>₹2,599</span>
            <b>23% OFF</b>
          </p>
          <button style="width: 100%;" class="uQuickViewBtn">QUICK VIEW</button>
        </div>
      </div>

    </div>
  </div>

  <button class="uProductNavBtn uProductNavRight">&#10095;</button>

</section>

<script src="{% static 'js/slider.js' %}"></script>
</body>
</html>