<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{static 'css/ai.css}">
</head>
<body>
    <!-- AI Chat Box Section -->
<div class="ai-chat-container" style="margin-top: 60px; padding: 20px; width: 360px; margin-right: 80px;  ">

 <div class="all-ai">
    <div class="ai-chat-header">
        <h3>SÉYVN AI Stylist</h3>
        <span>Ask me anything 👕</span>
    </div>

    <div class="ai-chat-messages" id="chatMessages">
        <div class="ai-message">
            Hi 👋 I'm your AI stylist. 
            Need outfit suggestions or size help?
        </div>
    </div>
 </div>
    <div class="ai-chat-input" style="margin-top: 88%;">
        <input type="text" id="userInput" placeholder="Type your message..." />
        <button onclick="sendMessage()">Send</button>
    </div>
</div>

</body>
</html>
