{% load static %}

  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <div class="foot">

    <div class="main" style=" background-color: rgb(225, 218, 218);">
      <div class="sub1">
        <i class="fas fa-truck" aria-hidden="true" style="font-size: 20px"></i>
        <p>Free Shipping on over 799</p>
      </div>

      <div class="sub2">
        <i class="fas fa-lock" aria-hidden="true" style="font-size: 20px"></i>
        <p>100% Secure Payments</p>
      </div>

      <div class="sub3">
        <i class="fa-solid fa-handshake" style="font-size: 20px"></i>
        <p>Promise on Time Delivery</p>
      </div>

    </div>

    <div class="details">
      <div class="Socialmedia">
        <img src="{% static 'images/Black.png' %}" alt="..">

        <div class="icons">

          <i class="fa-brands fa-instagram"  style="color: #ffffff; font-size: 30px;"></i>
      <a href="http://www.youtube.com/@WrognIn"><i class="fa-brands fa-youtube" style="color: #ffffff; font-size: 30px;"></i></a>
          <i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 30px;"></i>
          <i class="fa-brands fa-twitter" style="color: #ffffff; font-size: 30px;"></i>
     </div>
      </div>

      <div class="subdetails">

        <div class="first">
          <h3 class="heading">Help</h3>
          <p>My Account Privacy</p>
          <p>Anti Corruption Policy</p>
          <p>Terms and Conditions</p>
          <p>Contact Us</p>
        </div>

        <div class="second">
          <h3 class="heading">Order Support</h3>
          <p>Return & Refund Policy</p>
          <p>FAQ</p>
          <p>Shipping Policy</p>
          <p>Cancellation</p>
        </div>

        <div class="third">
          <h3 class="heading">About Us</h3>
          <p>Find A Store</p>
          <p>Blog</p>
          <p>Career</p>
          <p>About Us</p>
        </div>

      </div>

    </div>

  </div>
