
{% load static %}
<link href="{% static 'css/logo.css' %}" rel="stylesheet">

<footer style="z-index: 0;">
<div class="down">
   <div class="deliver">
    <i class="fas fa-truck" aria-hidden="true" style="font-size: 20px"></i>
    <b>Free Shipping on over $799</b>
  </div>
  
    <div class="pay">
      <i class="fas fa-lock" aria-hidden="true" style="font-size: 20px"></i>
      <b>100% Secure Payments</b>
    </div>

    <div class="pro">
      <i class="fa-solid fa-handshake" style="font-size: 20px"></i>
      <b>Promise On Time Delivery</b>
    </div>
   
</div> 


    <div class="last">
   <div class="last1">
     <img src="{% static 'images/Black.png' %}"alt="..">

     <div class="icons" style="align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-left: 35%; gap: 30px;">

  
          <i class="fa-brands fa-instagram"  style="color: #ffffff; font-size: 30px;"></i>
      <a href="http://www.youtube.com/@WrognIn"><i class="fa-brands fa-youtube" style="color: #ffffff; font-size: 30px;"></i></a>
          <i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 30px;"></i>
          <i class="fa-brands fa-twitter" style="color: #ffffff; font-size: 30px;"></i>
     </div>
     </div>

      

   <div class="help">
    <b style="color: white;">HELP</b>
    <p style="color: white;">My Account</p>
    <p style="color: white;">Privacy Policy</p>
    <p style="color: white;">Anti Corruption Policy</p>
    <p style="color: white;">Terms And Conditions</p>
    <p style="color: white;">Contact Us</p>
    

   </div>

   <div class="order">
    <b style="color: white;">Order Support</b>
    <p style="color: white;">Return & Refund Policy</p>
    <p style="color: white;">FAQ</p>
    <p style="color: white;">Shipping Policy</p>
    <p style="color: white;">Cancellation</p>
   </div>

   <div class="about">
    <b style="color: white;">About Us</b>
    <p style="color: white;">Find A Store</p>
    <p style="color: white;">Blog</p>
    <p style="color: white;">Career</p>
    <p style="color: white;">About Us</p>
   </div>

</div>


</footer>

</body>
</html>


